.root-list-title {
  font-weight: 700;
  font-size: 25px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 235, 255, 1) 0%,
    rgba(103, 213, 236, 1) 100%
  );

  margin-top: 5px;
  cursor: pointer;
  margin: 10px 40px;
  padding: 16px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.root-list-title:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(107, 227, 255, 1) 0%,
    rgba(36, 200, 235, 1) 100%
  );
}
.category-list {
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 80px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  cursor: pointer;
  font-size: 20px;
  padding: 16px;
  border-radius: 5px;
  width: 200px;
}
.list:nth-child(4n + 1) > .category-list {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.list:nth-child(4n + 2) > .category-list {
  background: linear-gradient(
    90deg,
    rgb(201, 67, 145) 0%,
    rgb(179, 15, 102) 100%
  );
}

.list:nth-child(4n + 3) > .category-list {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.list-by-category {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px 140px;
  width: 500px;
  background-color: aquamarine;
  border-radius: 5px;
}
.image-name {
  margin-top: 10px;
  margin-left: 5px;
}
